body{
    margin: 0;
}

.navbar {
    position: fixed;
    width:100%;

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #18562c;

}

.navbar li { float: right; }

.navbar li a {
    display: block;
    color: #bdd4c1;
    text-align: center;
    text-decoration: none;
    padding: 14px 20px;
    font-family: Verdana, sans-serif;
    letter-spacing: 2px;
    font-size: 10px;
}

.navbar li a:hover { background-color: #349454;
    color: #ffffff;}

.subseciton {
    padding: 30px 13% 50px;
    border-bottom: 1px solid lightgray;
    text-align: center;
    color: #211e19;
    font-family: Verdana, sans-serif;
    font-weight: lighter;
    font-size: 9px;
    letter-spacing: 1px;}

h2 { font-weight: lighter;
    padding: 20px;}

a { text-decoration: none;
    color: #18562c; }
.subseciton a:hover { color: #349454; }

#team {
    /*  position: relative;
    left: 8%; */
    width: 100%;
    font-style: italic;
}

#team th {
    font-weight: lighter; font-size: 110%;
    padding: 15px ;
}

#team td {
    padding-right:  30px;
    padding-left:  30px;}


.paragraph {
    padding: 30px 13% 50px;
    /*padding-top: 30px;
        padding-bottom: 50px;
        padding-left: 15% ;
        padding-right: 15%;*/
    border-bottom: 1px solid lightgray;
    color: #211e19;
    font-family: Verdana, sans-serif;
    font-weight: lighter;
    font-size: 9px;
    text-align: justify;
    letter-spacing: 1px;}

h3 { font-weight: lighter;
    padding: 20px 0 10px 0;}

h4 { font-weight: lighter;
    padding: 6px 0 1px;}

.funzionalita  {
    width: "100%";
    padding: 20px 0 40px 0;
    margin:20px;
    border-collapse: collapse;
}

.funzionalita th {
    font-weight: lighter;
    font-size: 120%;
    color: #18562c;
    padding: 15px;
    border: 1px solid #bdd4c1;
}

.funzionalita td {
    /* padding: 5px 15px 7px 15px; */
    padding: 15px;
    border: 1px solid #bdd4c1;
}

.flow {
    padding-left: 15px;
}


.listPersonas {
    display: inline;
    position: relative;
    z-index: -1;
    float: right;
    width:80%;
    padding: 10px 0 0 0;
    list-style-position: inside;
}

.persona {
    width: 70px;
    height: 70px;
}

.nome{
    padding-left: 9px;
}

